.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    width: 25%;
    margin: 0px auto;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.login-wrapper .alert {
    width: 100%;
}